{% extends "layout.html" %}

{% block content %}
{% if stream %}

    {% for post in stream %}
    <section>
        <div class="container">
            <div class="entry-list">
                <article>
                    <h2><a href="{{ url_for('detail', post_id=post.id) }}">{{ post.title }}</a></h2>
                    <time datetime="datetime">{{ post.date.strftime('%d %B %Y') }} </time>
                </article>
            </div>
        </div>
    </section>
    {% endfor %}
{% else %}

<section>
    <div class="container">
        <div class="entry-list">
            <article>
                <p class="pcontainer">There are no posts made yet </p>
            </article>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}